.git
.gitignore
.gitmodules

__pycache__/
*.py[codz]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

/scratch/
/logs/
/slurm-logs/
/wandb/
/runs/
/checkpoints/
/val/
/data/
/artifixer-data/
/artifixer-work/

*.out
*.err
*.log
*.safetensors

thirdparty/Difix3D/
thirdparty/GEN3C/
